{{ define "content"}}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">欢迎使用Kyour博客系统</h3>
  </div>
  <div class="panel-body">
    这个系统由Go语言开发，开发框架：Gourd! 开发者：kyour@vip.qq.com 开发者网址：<a href="http://www.kyour.cn">www.kyour.cn</a>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">站点统计</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
{{end}}

{{/* 定义尾部 */}}
{{ define "bottom"}}
<script>

</script>
{{ end }}
